<html>
<title>EZ Shop</title>
<div class="header">
  <div class="logoIcon">
    <img class="logo" src="assets/images/2.jpg" alt="no image">
  </div>
  <div class="items">
    <a class="item">О нас</a>
    <a class="item">Категории</a>
    <a class="item">Акции</a>
  </div>
  <div class="images">
    <p class="basketImg" (click)="showDialog=!showDialog">Корзина</p>
    <app-my-card [visible]="showDialog"></app-my-card>
    <img src="assets/images/user.png" alt="login" class="loginImg" (click)="showBasket=!showBasket">
  <app-login [visible]="showBasket">
  </app-login>
  </div>
</div>

<div class="about">
  <div class="img1">
    <img class="g1" src="assets/images/p1.jpg" alt="no image">
  </div>
  <div class="aboutUs">
    <h1><i class="thanks">Спасибо что вы выбрали нас!</i></h1>
    <p class="content"><i>
<!--      Представьте вы пришли домой после работы уставшими и захотели просто покушать, а дома ничего нету поесть и на улицу опять выходить-->
<!--      будет лень.-->
<!--      Ну или вы хотите приготовить вкусный и полезный ужин, и вам не хватает нужного ингредиента-->
<!--      для Вашего кулинарного шедевра, который так хочется приготовить? Что же делать в такие моменты?-->
<!--      Теперь купить продукты питания можно просто и комфортно, даже не выходя на улицу.-->
<!--      Что уж говорить о колоссальной экономии времени, да и денег. Теперь Вы точно не купите лишнюю газировку или-->
<!--      шоколадку, когда устанете бродить по магазину, и Ваш бюджет не пострадает от ненужных трат. Плюс ко всему-->
<!--      такие ненавистные очереди останутся навсегда в прошлом. Наш интернет-магазин Ez Shop предлагает широкий ассортимент-->
<!--      товаров.-->
<!--      Любой необходимый объем мы сможем доставить вам до дома в течении часа.И это абсолютно бесплатно!Даже если у Вас-->
<!--      планируется годовая закупка. В нашем магазине-->
<!--      Вы отыщите все нужные вещи для жизни быстро и просто, а их краткое описание помогут в-->
<!--      выборе и Вы точно не запутаетесь. Полезные продукты, напитки, сладости и любимые перекусы, снэки – все, что Вы так любите-->
<!--      и ищите. -->
      Не нужно тратить свое время и время своих близких на закупки, лучше проведите
      его вместе с ними, а мы позаботимся, чтобы все необходимое было всегда рядом
    </i></p>
  </div>
  <div class="img1">
    <img class="g1" src="assets/images/p2.jpg" alt="no image">
  </div>
</div>
</html>

