<div class="container">
  <div class="header">
    <section class="sect1">
      <img class="logo" src="assets/images/MainLogo.png" alt="no image">
    </section>

    <section class="sect2">
      <a class="item">Главная</a>
      <a class="item">О нас</a>
      <a class="item">Наши партнеры</a>
      <a class="item">Магазины</a>
      <a class="item">Испытай свою удачу</a>
    </section>

    <section class="sect3">
      <label class="search">
        <img src="assets/images/search-icon.png" class="navlogo">
<!--        <input-->
<!--          type="text"-->
<!--          placeholder="Искать ..."-->
<!--          class="sfield"-->
<!--        >-->
      </label>
      <img src="assets/images/basket.png" class="navlogo" (click)="showDialog=!showDialog">
      <app-my-card [visible]="showDialog"></app-my-card>
      <img src="assets/images/user.png"  class="navlogo" (click)="showBasket=!showBasket">
      <app-login [visible]="showBasket"></app-login>
    </section>
</div>
</div>


<!--&lt;!&ndash;      Представьте вы пришли домой после работы уставшими и захотели просто покушать, а дома ничего нету поесть и на улицу опять выходить&ndash;&gt;-->
<!--&lt;!&ndash;      будет лень.&ndash;&gt;-->
<!--&lt;!&ndash;      Ну или вы хотите приготовить вкусный и полезный ужин, и вам не хватает нужного ингредиента&ndash;&gt;-->
<!--&lt;!&ndash;      для Вашего кулинарного шедевра, который так хочется приготовить? Что же делать в такие моменты?&ndash;&gt;-->
<!--&lt;!&ndash;      Теперь купить продукты питания можно просто и комфортно, даже не выходя на улицу.&ndash;&gt;-->
<!--&lt;!&ndash;      Что уж говорить о колоссальной экономии времени, да и денег. Теперь Вы точно не купите лишнюю газировку или&ndash;&gt;-->
<!--&lt;!&ndash;      шоколадку, когда устанете бродить по магазину, и Ваш бюджет не пострадает от ненужных трат. Плюс ко всему&ndash;&gt;-->
<!--&lt;!&ndash;      такие ненавистные очереди останутся навсегда в прошлом. Наш интернет-магазин Ez Shop предлагает широкий ассортимент&ndash;&gt;-->
<!--&lt;!&ndash;      товаров.&ndash;&gt;-->
<!--&lt;!&ndash;      Любой необходимый объем мы сможем доставить вам до дома в течении часа.И это абсолютно бесплатно!Даже если у Вас&ndash;&gt;-->
<!--&lt;!&ndash;      планируется годовая закупка. В нашем магазине&ndash;&gt;-->
<!--&lt;!&ndash;      Вы отыщите все нужные вещи для жизни быстро и просто, а их краткое описание помогут в&ndash;&gt;-->
<!--&lt;!&ndash;      выборе и Вы точно не запутаетесь. Полезные продукты, напитки, сладости и любимые перекусы, снэки – все, что Вы так любите&ndash;&gt;-->
<!--&lt;!&ndash;      и ищите. &ndash;&gt;-->


