<div class="container">
  <div class="header">
    <section class="sect1">
      <img class="logo" src="assets/images/MainLogo.png" alt="no image" routerLink="/main">
    </section>

    <section class="sect2">
      <a class="item" [routerLink]="'/main'">Главная</a>
      <a class="item" [routerLink]="'/products'">Продукты</a>
      <a class="item" routerLink="/partners">Наши партнеры</a>
      <a class="item" routerLink="/shopList">Магазины</a>
      <a class="item" routerLink="/lotery">Испытай свою удачу</a>
    </section>

    <section class="sect3">
      <div class="geoLocation">
        <img src="../../assets/images/geo.png" class="navlogo" routerLink="/delivery">
        <p class="address">{{address}}</p>
      </div>
      <img src="assets/images/basket.png" class="navlogo" (click)="showDialog=!showDialog">
      <app-my-card [visible]="showDialog"></app-my-card>
      <img src="assets/images/user.png"  class="navlogo" (click)="showBasket=!showBasket">
      <app-login [visible]="showBasket"></app-login>
    </section>
</div>
</div>



