<h2>Регистрация</h2>
<section class="registration-form">
  <label for="username-registration">Имя пользователя</label>
  <input type="text" id="username-registration">
  <label for="email-registration">Почта</label>
  <input type="email" id="email-registration">
  <label for="phone-registration">Номер телефона</label>
  <input type="text" id="phone-registration" prefix="+7" mask="(999)9999999">
  <label for="password-registration">Пароль</label>
  <input type="password" id="password-registration">
  <button class="btn btn-success">Зарегистрироваться</button>
</section>
