.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 599;
}
.overlay:hover {
  cursor: pointer;
  outline: none;
}

.dialog {
  z-index: 1000;
  position: fixed;
  right: 5px;
  /* left: 0; */
  top: 100px;
  min-height: 300px;
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    position: absolute;
    top: 100px;
    right: 0;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  float: right;
  font-size: 15px;
}
.dialog__close-btn:hover{
  cursor: pointer;
  font-weight: bold;
}
.profile {
  display: flex;
  flex-direction: column;
}
.user-login-text {
  font-size: 18px;
  font-weight: bold;
}
.user-login {
  margin-bottom: 5px;
  margin-top: 10px;
}
.user-password {
  margin-bottom: 25px;
}
.btn btn-success {
  border-radius: 8px;
  font-weight: bold;
}
.register-text {
  font-size: 12px;
  margin-top: 36px;
  text-align: center;
}
.registration-form {
  color: rebeccapurple;
  cursor: pointer;
}
.registration-form:hover {
  text-decoration: underline;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-image {
  width: 50px;
  height: 50px;
}
