<div class="main-intro">
  <p class="main-title">К сожалению, на данный момент нет розыгрышей </p>
  <img src="../../assets/images/sad.png" alt="" class="sad-img">
</div>
<div class="main-lotery">
  <p class="last-lotery-title">Предыдущие розыгрыши:</p>
  <div class="lotery-img">
    <img src="../../assets/images/r1.jpg" alt="" class="lt-img">
    <img src="../../assets/images/r2.jpg" alt="" class="lt-img">
    <img src="../../assets/images/r3.png" alt="" class="lt-img">
    <img src="../../assets/images/r4.png" alt="" class="lt-img">
  </div>
  <p class="howTo">Как участвовать в нашем розыгрыше?</p>
  <div class="steps">
    <div class="step">
      <img src="../../assets/images/l1.png" alt="" class="step-img">
      <div class="txt">
        <p class="step-title">Зарегистрируйся на EzShop</p>
        <p class="step-desc">Это не сложно. Просто вводи нужные данные в предназначенные для этого поля, и следи, чтобы там не было ошибок.</p>
      </div>
    </div>
    <div class="step">
      <img src="../../assets/images/l2.png" alt="" class="step-img">
      <div class="txt">
      <p class="step-title">Стань нашим покупателем</p>
      <p class="step-desc">
        Для участия в розыгрышах нужны Бонусы, которые мы начисляем в виде кэшбэка с каждой покупки в нашем магазине.
        Больше покупок - больше бонусов. Всё очень просто.
      </p>
      </div>
    </div>
    <div class="step">
      <img src="../../assets/images/l3.png" alt="" class="step-img">
      <div class="txt">
      <p class="step-title">Следи за новостями!</p>
      <p class="step-desc">Каждую неделю наши редакторы находят десятки классных товаров для розыгрышей.
        Не нашел ничего интересного на этой неделе? Возвращайся - на следующей!</p>
      </div>
    </div>
    <div class="step">
      <img src="../../assets/images/l4.png" alt="" class="step-img">
      <div class="txt">
      <p class="step-title">Прими участие</p>
      <p class="step-desc">Для участия в розыгрыше требуется разное количество Бонусов.
        Но если их у вас хватает, то достаточно просто нажать кнопку “Участвовать”.</p>
      </div>
    </div>
    <div class="step">
      <img src="../../assets/images/l4.png" alt="" class="step-img">
      <div class="txt">
      <p class="step-title">Стань победителем</p>
      <p class="step-desc">
        Победители розыгрышей определяются автоматически на сайте random.org.
      </p>
      </div>
    </div>
  </div>
</div>
