<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<ngb-carousel *ngIf="imageUrlArray">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="imageUrlArray[0]" alt="Random first slide" class="imgs">
    </div>
    <div class="carousel-caption">
      <h3 class = "slide1-title" >Самая быстрая доставка продуктов на дом!</h3>
      <p class="slide1-txt">Не нужно тратить свое время и время своих близких на закупки, лучше проведите
        его вместе с ними, а мы позаботимся, чтобы все необходимое было всегда рядом</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="imageUrlArray[1]" alt="Random second slide" class="imgs">
    </div>
    <div class="carousel-caption2">
      <h3 class="slide2-title">Самые свежие продукты каждый день! </h3>
      <button class="orderBtn" (click)="scroll(target)">Заказать сейчас! </button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="imageUrlArray[2]"  alt="Random third slide" class="imgs">
    </div>
    <div class="carousel-caption">
      <h3 class="slide3-title">Теперь, вы можете заказать ваши любимые овощи и фрукты в любое время по номеру <a class="num" href="tel:1402">1402</a></h3>
    </div>
  </ng-template>
</ngb-carousel>

<div class="gifs">
  <div class="gif">
    <img src="../../assets/images/transit.png" alt="transitLogo" class="gif__img">
    <p class="nav-txt">Быстрая экспресс доставка</p>
  </div>
  <div class="gif">
    <img src="../../assets/images/support.png" alt="supportLogo" class="gif__img">
    <p class="nav-txt">Call Центр 24/7</p>
  </div>
  <div class="gif">
    <img src="../../assets/images/money.png" alt="moneyLogo" class="gif__img">
    <p class="nav-txt">Низкие цены</p>
  </div>
  <div class="gif">
    <img src="../../assets/images/gift.png" alt="giftLogo" class="gif__img">
    <p class="nav-txt">Подарки каждую неделю</p>
  </div>
</div>
<section class="banner">
  <div class="block1">
    <img src="../../assets/images/rekl2.jpg" alt="" class="bn-img">
    <img src="../../assets/images/rekl1.jpg" alt="" class="bn-img">
    <img src="../../assets/images/rekl3.jpg" alt="" class="bn-img">
  </div>
</section>

<section class="popular">
  <p class="pop-title" #target>Бестселлеры</p>
  <p class="pop-txt">Покупатели рекомендуют</p>
<!--  <div class="btns">-->
<!--    <button class="btnPr">Все</button>-->
<!--    <button class="btnPr">Сегодня</button>-->
<!--    <button class="btnPr">Фрукты</button>-->
<!--    <button class="btnPr">Хлеб</button>-->
<!--  </div>-->
  <div class="popularProducts" >
    <div class="ProductsList" *ngFor="let product of popularProductList; index as i">
      <div class="productContent">
        <img src="{{baseUrl}}/{{product.image}}" alt="title" class="content-image">
        <div class="product-info">
          <p class="product-title">{{product.title}}</p>
          <div class="product-price-details">
            <section class="price">
              <p class="block-caption">Цена</p>
              <p class="price-txt">{{product.price * inputNum[i]}} ₸</p>
            </section>
            <div class="number">
              <span class="minus" (click)="minus(i)">-</span>
              <input type="text" value="{{inputNum[i]}}" class="inp"/>
              <span class="plus" (click)="plus(i)">+</span>
            </div>
            <button class="addCard" (click)="addToCart(i)">{{isInCart[i]}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h2 class="pop-txt"><i>Популярные категории</i></h2>
<div class="popularCategory" >
  <div class="categories" *ngFor="let category of popularCategoryList">
    <div class="categoryBox">
      <img src="{{baseUrl}}/{{category.image}}" alt="title" class="categoryImages">
      <div class="overlay">
        <p class="text">{{category.title}}</p>
      </div>
    </div>
  </div>
</div>

<section class="aboutUs" #about>
  <img src="../../assets/images/about.jpg" alt="" class="aboutUsImg">
  <div class="aboutUsTxt">
    <p class="title1">Несколько слов о нашем магазине</p>
    <p class="title2">Почему именно мы?</p>
    <p class="title3">Представьте вы пришли домой после работы уставшими и захотели просто покушать, а дома ничего нету поесть и на улицу опять выходить
      будет лень.
      Ну или вы хотите приготовить вкусный и полезный ужин, и вам не хватает нужного ингредиента
      для Вашего кулинарного шедевра, который так хочется приготовить? Что же делать в такие моменты?
      Теперь купить продукты питания можно просто и комфортно, даже не выходя на улицу.
      Что уж говорить о колоссальной экономии времени, да и денег. Теперь Вы точно не купите лишнюю газировку или
      шоколадку, когда устанете бродить по магазину, и Ваш бюджет не пострадает от ненужных трат. Плюс ко всему
      такие ненавистные очереди останутся навсегда в прошлом. Наш интернет-магазин Ez Shop предлагает широкий ассортимент
      товаров.</p>
  </div>
</section>

<section class="otzyvy">
  <ngb-carousel *ngIf="imageUrlArray">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "../../assets/images/otz.jpg" alt="" class="otzyv-img">
      </div>
      <div class="clients">
        <h3 class = "posl-otz" >Наши любимые клиенты</h3>
        <section class="otz-block">
          <img src="../../assets/images/quote.png" alt="" class="quote">
          <p class="otz-txt">
            Как и многие динозавры, раньше за покупками я всегда шла в сетевые магазины.
            Ну и конечно довольствовалась имеющимся выбором. Но мои потребности привели меня к тому, что
            иногда просто нет возможности выходить из дома и идти в магазин.
            И мне пришлось идти на просторы интернета в поисках качественного поставщика. И я его нашла</p>
          <section class="user">
            <img src="../../assets/images/Ainura.jpg" alt="" class="selfie">
            <div class="user-name">
              <p class="name">Айнур Секербекова</p>
              <p class="client">Клиент</p>
            </div>
          </section>
        </section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "../../assets/images/otz.jpg" alt="" class="otzyv-img">
      </div>
      <div class="clients">
        <h3 class = "posl-otz" >Наши любимые клиенты</h3>
        <section class="otz-block">
          <img src="../../assets/images/quote.png" alt="" class="quote">
          <p class="otz-txt">Отличный сервис, все товары были доставлены в договоренное время. Продукты свежие и коробки непомятые. Буду пользоваться дальше, порекомендую своим друзьям.</p>
          <section class="user">
            <img src="../../assets/images/Madina.jpg" alt="" class="selfie">
            <div class="user-name">
              <p class="name">Мадина Багыткалиева</p>
              <p class="client">Клиент</p>
            </div>
          </section>
        </section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src= "../../assets/images/otz.jpg" alt="" class="otzyv-img">
      </div>
      <div class="clients">
        <h3 class = "posl-otz" >Наши любимые клиенты</h3>
        <section class="otz-block">
          <img src="../../assets/images/quote.png" alt="" class="quote">
          <p class="otz-txt">
            Услугами магазина EzShop пользуюсь уже очень давно. Наверно я один из первых их клиентов. Могу отметить, что за это время магазин ничуть не изменился. Качество продуктов и обслуживание все так же остаются на высоте.</p>
          <section class="user">
            <img src="../../assets/images/Galym.jpg" alt="" class="selfie">
            <div class="user-name">
              <p class="name">Галым Жарысов</p>
              <p class="client">Клиент</p>
            </div>
          </section>
        </section>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<button (click)="scrollTop()" [ngClass]="{scrollNot: visibility, scroll: !visibility}">
  <img src="../../assets/images/icons8-long-arrow-up-100.png" alt="" class="arrowTop">
</button>

