.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 520px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    top: 40px;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  float: right;
  font-size: 15px;
}
.dialog__close-btn:hover{
  cursor: pointer;
  font-weight: bold;
}
.basket {
  height: 300px;
  overflow-y: scroll;
}
.titleBskt{
  text-align: center;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 5px;
  margin-top: 5px;
  font-size: 22px;
}
.basket-list {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #A9A9A9
}
.pr-img {
  width: 90px;
}
.number{
  display: flex;
  align-items: center;
}
.minus, .plus{
  width: 24px;
  background: #f2f2f2;
  border-radius: 4px;
  text-align: center;
}
.minus:hover, .plus:hover{
  cursor: pointer;
}
.inp {
  height: 20px;
  width: 41px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.inp:hover {
  cursor: pointer;
}
.cnt {
  display: flex;
  align-items: center;
}
.pr-price {
  margin: 0 0 0 50px;
  font-weight: bold;
  color: #B22222;
}
.goToCard {
  float: right;
  margin-top: 10px;
  border: none;
  background-color: #32CD32;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  padding: 0 16px;
  height: 32px;
  cursor: pointer;
}
