.banners {
  display: flex;
}
.banners-img {
  width: 550px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
}
.banner-title {
  font-size: 30px;
  font-weight: bold;
}
.popularProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 1085px;
  margin-top: 70px;
}
.content-image {
  height: 200px;
  display: block;
  text-decoration: none;
}
.productContent {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin: 0 10px 0 0;
  padding: 16px;
  width: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productContent:hover {
  box-shadow: 0 16px 38px rgba(0,0,0,.16);
  z-index: 1;
}
.product-price-details {
  display: flex;
  margin: 16px 0 0;
  align-items: center;
  justify-content: space-between;
}
.product-title {
  color: #636366;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin: 35px 0 0;
  height: 34px;
  overflow: hidden;
  text-decoration: none;
}
.product-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 260px;
}

.addCard {
  border: none;
  background-color: #32CD32;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  padding: 0 12px;
  height: 32px;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: column;
}
.block-caption {
  color: #8e8e93;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 0 4px;
}
.price-txt {
  color: #32CD32;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 0;

}
.product-main {
  display: flex;
}
.categories {
  margin-top: 50px;
  border-right: 1px solid #FFF8DC;
}
.category-title {
  font-weight: bold;
  font-size: 20px;
  color: #FF8C00;
  margin-left: 25px;
}
.category-title:hover{
  border: none;
  outline: none;
  cursor: pointer;
}
.category-title:focus{
  border: none;
  outline: none;
}
.cat-name {
  color: #0F9E5E;
  font-size: 18px;
}
.cat-name:hover {
  cursor: pointer;
  color: darkgreen;
  outline: none;
}
.cat-name:focus {
  outline: none;
}
.number{
  display: flex;
  align-items: center;
}
.minus, .plus{
  width: 24px;
  background: #f2f2f2;
  border-radius: 4px;
  text-align: center;
}
.minus:hover, .plus:hover{
  cursor: pointer;
}
.inp {
  height: 20px;
  width: 41px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;

}
.inp:hover {
  cursor: pointer;
}
.filter-bar{
  margin-top: 18px;
  display: flex;
}
.search{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 24px;
  position: relative;
  padding: 0 10px;
  width: 1000px;
  height: 45px;
  border: 1px solid #2c2c2c;
}
.search__logo {
  padding-left: 8px;
  height: 40px;
  margin-right: 20px;
  font-size: 26px;
}

.search__field{
  width: 1000px;
  height: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}
