<section class="map" *ngIf="feature!==null">
  <div>
    <p class="map-title">Введите адрес доставки: </p>
    <input type="text" [(ngModel)]="address" id="address_input" class="input-group-sm">
  </div>
  <div class="container">
    <p class="hint">Воспользуйтесь картой для нахождение вашего точного адреса и проверьки зоны доставки</p>
    <angular-yandex-map [center]="[43.238293,76.945465]" [zoom]="11.6">
      <angular-yandex-control [type]="'SearchControl'" [parameters]="parameters" ></angular-yandex-control>
      <angular-yandex-placemark
        *ngFor="let item of shopList"
        [geometry]="[item.lat, item.lng]"
        [properties]="placemarkProperties"
        [options]="placemarkOptions"
      ></angular-yandex-placemark>
      <angular-yandex-geoobject *ngFor="let store of feature"
        [feature]="store"
        [options]="options"
      ></angular-yandex-geoobject>
    </angular-yandex-map>
  </div>
  <button class="continueBtn" (click)="click()">Продолжить</button>
</section>
